
.filtro {
    position: absolute;
    top: 400px;
    left: 1600px;}
.filtroSeleccionarCaja, .filtroSeleccionarLista{
    background-color: rgb(250, 192, 186);
    border: none;
    width: 200px;
    height: 20px;
}
.filtroSeleccionarCaja{ 
    width: 196px;
    height: 20px;
}
#filtroT{
    font-weight: bold;
}