.ccontainer1 {
  margin: 14%;
  margin-top: 6%;
  background-color: rgb(255, 255, 255, 0.3);
  color: #070707cc;
  border-color: black;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 15px;
}

.ccontainer2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cbrand {
  margin-bottom: 40px;
}

.cfeature {
  display: block;
  margin-right: 10px;
  margin-bottom: 20px;
}

.ctitle {
  display: inline;
  font-family: "RocknRoll One", sans-serif;
  font-size: 20px;
}

.cdescription {
  font-family: "RocknRoll One", sans-serif;
  display: inline;
}
.ccontainer1a{
  margin: 5%;
  margin-top: 0px;
}
.crow1{
  height: 320px;
  display: grid;
  grid-template-columns: 55% 40% 5%;
}
.crow1colum2{
  display: grid;
  grid-template-rows: 23% 7% 7% 7% 7% 7% 7% 7% ;

}
.crow2{
  display: grid;
  grid-template-columns:15% 30% 13% 13% 13% 13%  13%;
  border: 1px solid #858585cc;
  border-top: 0px solid #858585cc;    
  border-left: 0px solid #858585cc;
  border-right: 0px solid #858585cc;
  align-items: center;
}
.crow2 img{
  width: 60px;
  height: 50px;
}
#cacceTittle{
  color: #FF923C;  
  border: 0px solid #858585cc;
}
.crow2 div {
  margin-right: 15px;
}
.cbutondetail{
  display: flex;
  justify-content: center;
}
.cbutondetail button {
  display: flex;
  justify-content: center;
}
#cdescri{
  height: 60px;  
  font-weight: normal;
  display: flex;
  align-items: flex-end;
}
#csepara{
  width: 50%;
}
#cgray{
  background-color: rgb(177, 34, 34);
  width: 22px;
  text-align: center;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-rows: 50% 50%;
}
#cgray2{
  background-color: rgb(128, 128, 128);
  width: 22px;
  text-align: center;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-rows: 50% 50%;
}
#cgray:hover,#cgray2:hover{  
  color: rgb(148, 148, 148);
}
#carButton{
  display: grid;
  grid-template-columns: 25% 50%;

}
#fra{
  display: grid;
  grid-template-columns: 70% 30%;
  color: gray;
}