.cards{
    position: absolute;
    border: 1px solid #354F52;
    border-radius: 5PX;
    width: 98%;
    height: 260px;
    display: grid;
	  grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3]1fr [x4]1fr [x5]1fr [x6];
	  /* grid-template-rows: [y0] 1fr [y1] 1fr [y2]; */
}
.tittleCar{
    margin: 10px;
    color: #CAD2C5;
}